<script type="text/javascript">

    function loadIcons()
    {
        var path = ["/administration/add_site","/administration/list_sites","/user/create", "/user/edit"];
        var icons = ['add_site.png','Hospital-icon.png','add_user.png','edit_user.png'];
        var title = ["Add Site","Edit Sites","Add User", "Edit User"];
        loadMenu(title,icons,path);
    }

    function loadMenu(fields, images,paths){
        document.getElementById("panel").innerHTML = "";

        for(var i = 0; i < fields.length; i++){

            var div = document.createElement("div");
            div.style.width = "200px";
            div.style.height = "160px";
            div.style.textAlign = "center";
            div.style.cssFloat = "left";
            div.style.padding = "5px";
            div.style.opacity = "1";
            div.style.cursor = "pointer";
            div.setAttribute("link", paths[i]);
            div.className = "menu_button blue";

            div.onclick = function(){
                window.location = this.getAttribute("link");
            }

            document.getElementById("panel").appendChild(div);

            var img = document.createElement("img");
            img.src = "/images/" + images[i];
            img.setAttribute("alt", fields[i]);
            img.height = "90";
            img.style.margin = "5px";

            div.appendChild(img);

            div.innerHTML += "<div style='padding: 5px; margin-top: 10px;'>" + fields[i] + "</div>";

        }
    }

    setTimeout("loadIcons()", 200);
</script>

<style type="text/css">

    td{
        text-align: center;
    }
</style>



<div id='panel' style="height:95%; overflow:auto;">


</div>


