<script type="text/javascript">

    function siteMenu()
    {
        var path = ["/publication/new", "/publication/edit"];
        var icons = ['view_doc.png','publications.png'];
        var title = ['ARV Sites', 'Edit Publication'];
        loadMenu(title,icons,path);
    }

    function drugMenu()
    {
        var path = ["/user/create", "/user/edit"];
        var icons = ['add_user.png','edit_user.png'];
        var title = ["", "Edit User"];
        loadMenu(title,icons,path);
    }

    function aggregatesMenu()
    {
        var path = ["/user/create", "/user/edit"];
        var icons = ['add_user.png','edit_user.png'];
        var title = ["Add User", "Edit User"];
        loadMenu(title,icons,path);
    }

    function loadMenu(fields, images,paths){
        document.getElementById("panel").innerHTML = "";

        for(var i = 0; i < fields.length; i++){

            var div = document.createElement("div");
            div.style.width = "200px";
            div.style.height = "160px";
            div.style.textAlign = "center";
            div.style.cssFloat = "left";
            div.style.padding = "5px";
            div.style.opacity = "1";
            div.style.cursor = "pointer";
            div.setAttribute("link", paths[i]);
            div.className = "menu_button blue";

            div.onclick = function(){
                window.location = this.getAttribute("link");
            }

            document.getElementById("panel").appendChild(div);

            var img = document.createElement("img");
            img.src = "/images/" + images[i];
            img.setAttribute("alt", fields[i]);
            img.height = "90";
            img.style.margin = "5px";

            div.appendChild(img);

            div.innerHTML += "<div style='padding: 5px; margin-top: 10px;'>" + fields[i] + "</div>";

        }
    }

    setTimeout("siteMenu()", 200);
</script>

<style type="text/css">

    td{
        text-align: center;
    }
</style>

<div style="margin-top: 0px;border: 1px solid #000000; border-width:1px 0px 0px 0px;">
  <table width="100%" cellspacing="0px" >
    <tr>
      <td width="200px">
        <img class="icons" onmousedown="siteMenu()"  src="/images/Hospital-icon.png" alt="">
      </td>
      <td rowspan="3">
        <div id='panel' style="height:690px;overflow: auto;border: 1px solid #000000;border-width:0px 0px 0px 1px; ">
          fdg
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icons" onmousedown="drugMenu()" src="/images/pills3.png" alt="">
      </td>
    </tr>
    <tr>
      <td>
        <img class="icons" onmousedown="aggregatesMenu()" src="/images/user_management_icon.png" alt="">
      </td>
    </tr>
  </table>

</div>