<style type="text/css">
  div.alerts{
     text-align: center;
     font-family:arial;
     font-weight: bold;
     font-size: 1.5em;
     background-color: silver;
     border: 1px solid #000000;
     border-radius: 10px 10px 0px 0px;
  }
  tr.odd{
      background-color: #FFCC00;
      font-family: arial;
  }
  tr.even{
      background-color: #ffffff;
      font-family: arial;
  }
</style>


<div style="width: 100%">
  <table style="width: 100%;" cellspacing="15px">
    <tr>
      <td style="vertical-align: text-top;">

         <div class="alerts">
           NOTIFICATIONS
         </div>
         <div style="max-height: 70vh; overflow: auto;">
           <table>
             <% (@notices || []).each do |notice| %>
                 <tr class=<%= cycle('odd','even') %>>
                    <td>
                        <%= notice %>
                    </td>
                 </tr>
             <% end %>
           </table>
         </div>

      </td>
      <td style="width: 55%;">
        <div >
          <%= render "graph" %>
        </div>
      </td>
    </tr>
  </table>
</div>

