
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Malawi map</title>

  <script type='text/javascript' src='/javascripts/jquery.min.js'></script>

  <style type='text/css'>
    #container {
	height: 500px;
	width: 500px;
	margin: 0 auto;
    }

    .loading {
            margin-top: 10em;
            text-align: center;
            color: gray;
    }
  </style>



<script type='text/javascript'>//<![CDATA[

$(function () {

    // Initiate the chart
    $('#container').highcharts('Map', {
        series: [
        {
            "type": "map",
            "data": [
                    {
                        "name": "Likoma",
                        "path": "M263,-651L260,-651L258,-652L262,-658L265,-657L263,-656Z"
                    },
                    {
                        "name": "Nkhata Bay",
                        "path": "M199,-795L199,-784L200,-779L201,-777L198,-771L197,-767L199,-763L199,-756L202,-753L205,-746L206,-730L208,-721L208,-717L211,-709L209,-702L201,-695L201,-693L195,-689L192,-682L192,-678L194,-676L180,-665L177,-660L173,-636L163,-639L158,-641L154,-644L149,-644L142,-644L138,-647L133,-650L133,-652L137,-657L143,-659L147,-664L145,-668L144,-677L147,-686L146,-690L140,-698L140,-705L142,-712L145,-717L152,-723L156,-723L161,-722L165,-723L168,-729L171,-732L176,-731L182,-733L183,-736L181,-741L179,-744L176,-756L172,-758L172,-762L175,-772L177,-782L194,-792Z"
                    },
                    {
                        "name": "Nkhotakota",
                        "path": "M173,-636L174,-628L177,-618L179,-617L180,-614L188,-613L191,-612L195,-600L195,-596L192,-592L192,-586L194,-577L199,-570L204,-567L204,-565L202,-558L203,-556L208,-550L207,-545L209,-543L211,-546L210,-539L211,-532L211,-511L212,-502L212,-499L207,-491L208,-487L210,-482L199,-476L194,-473L189,-473L185,-471L184,-488L182,-498L183,-504L181,-513L177,-513L176,-515L176,-520L171,-519L168,-513L166,-512L162,-515L162,-518L159,-525L159,-531L163,-537L169,-541L168,-544L162,-553L157,-554L148,-554L146,-557L146,-561L148,-571L154,-581L158,-584L166,-586L171,-589L176,-590L179,-595L182,-599L179,-600L175,-599L170,-600L166,-603L161,-603L157,-606L155,-614L152,-619L150,-623L146,-626L142,-626L140,-628L139,-634L141,-637L149,-644L154,-644L158,-641L163,-639Z"
                    },
                    {
                        "name": "Rumphi",
                        "path": "M193,-845L196,-840L195,-832L197,-825L199,-800L199,-795L194,-792L177,-782L172,-789L164,-796L162,-795L161,-789L158,-788L146,-790L138,-788L138,-784L136,-781L131,-781L128,-785L120,-785L114,-789L111,-789L105,-782L101,-778L98,-779L99,-785L98,-789L97,-791L88,-792L79,-795L78,-803L76,-804L72,-805L73,-809L79,-810L83,-815L91,-817L98,-816L102,-819L106,-821L110,-829L116,-836L126,-843L128,-847L132,-848L163,-862L181,-847L184,-845L188,-846Z"
                    },
                    {
                        "name": "Machinga",
                        "path": "M388,-333L392,-328L398,-321L400,-317L401,-290L406,-289L392,-255L391,-252L391,-247L359,-248L357,-246L351,-244L348,-244L339,-247L335,-248L330,-244L323,-245L318,-242L316,-243L314,-246L316,-249L319,-260L322,-264L323,-270L327,-276L330,-278L331,-281L332,-292L332,-298L331,-303L328,-307L327,-312L329,-316L332,-315L337,-310L348,-306L352,-307L355,-310L360,-312L362,-318L361,-322L364,-326L368,-328L374,-329L381,-330Z"
                    },
                    {
                        "name": "Dedza",
                        "path": "M237,-395L242,-389L244,-384L248,-379L254,-378L256,-376L255,-371L257,-369L262,-371L262,-371L262,-366L252,-359L242,-352L235,-349L232,-349L225,-353L219,-354L216,-352L211,-355L207,-353L203,-353L191,-348L182,-348L178,-347L174,-341L161,-343L154,-342L147,-338L143,-337L140,-337L133,-342L130,-341L127,-335L127,-328L125,-327L122,-329L120,-333L126,-338L128,-342L130,-353L132,-356L143,-361L148,-365L159,-367L161,-369L162,-377L164,-380L170,-382L180,-391L183,-397L189,-405L194,-414L202,-420L204,-424L209,-416L219,-407L223,-399L227,-393L230,-390Z"
                    },
                    {
                        "name": "Lilongwe",
                        "path": "M204,-424L202,-420L194,-414L189,-405L183,-397L180,-391L170,-382L164,-380L162,-377L161,-369L159,-367L148,-365L143,-361L132,-356L130,-353L128,-342L126,-338L120,-333L118,-338L116,-341L111,-343L108,-348L101,-352L98,-356L91,-369L87,-376L88,-378L84,-390L85,-398L85,-402L85,-407L80,-418L76,-423L74,-428L78,-440L78,-442L84,-453L90,-459L91,-464L91,-466L92,-470L96,-472L99,-469L98,-462L101,-448L102,-447L108,-444L116,-443L136,-449L137,-449L140,-438L144,-436L154,-437L161,-436L168,-433L174,-428L184,-429L189,-432L196,-431L200,-433L200,-430L193,-426L192,-422L193,-421L199,-424Z"
                    },
                    {
                        "name": "Dowa",
                        "path": "M200,-433L196,-431L189,-432L184,-429L174,-428L168,-433L161,-436L154,-437L144,-436L140,-438L137,-449L136,-449L116,-443L108,-444L102,-447L101,-448L98,-462L99,-469L96,-472L101,-483L102,-487L100,-491L101,-492L108,-490L113,-495L116,-498L120,-504L121,-499L130,-493L133,-487L136,-480L137,-471L138,-469L145,-469L152,-471L156,-471L163,-469L168,-470L175,-467L178,-467L183,-469L185,-459L184,-454L194,-445L197,-445L203,-447L204,-445L205,-441L207,-439L206,-437Z"
                    },
                    {
                        "name": "Mangochi",
                        "path": "M262,-366L262,-371L262,-371L269,-374L272,-379L270,-383L271,-386L277,-392L274,-399L274,-403L277,-404L281,-403L287,-398L285,-393L286,-388L289,-384L293,-385L296,-383L299,-383L302,-380L305,-372L310,-367L312,-366L316,-360L324,-352L328,-355L330,-361L328,-364L323,-374L321,-383L316,-391L317,-397L315,-401L311,-408L308,-424L305,-428L303,-437L301,-439L296,-440L283,-440L279,-441L276,-444L276,-447L277,-456L276,-462L277,-467L281,-464L305,-442L351,-386L359,-370L388,-333L381,-330L374,-329L368,-328L364,-326L361,-322L362,-318L360,-312L355,-310L352,-307L348,-306L337,-310L332,-315L329,-316L327,-312L328,-307L293,-307L292,-307L282,-313L268,-333L264,-343L263,-352Z"
                    },
                    {
                        "name": "Mchinji",
                        "path": "M84,-453L78,-442L78,-440L74,-428L76,-423L80,-418L85,-407L85,-402L85,-398L84,-390L88,-378L87,-376L83,-379L79,-385L79,-394L78,-398L68,-404L66,-406L62,-414L59,-414L56,-410L52,-409L49,-406L45,-399L42,-399L39,-405L39,-413L34,-415L33,-421L25,-430L16,-432L13,-434L12,-438L18,-441L18,-444L13,-451L10,-452L1,-453L0,-457L2,-461L7,-460L13,-464L19,-466L20,-473L27,-477L29,-482L30,-489L60,-491L61,-490L62,-481L66,-473L68,-469L76,-461L79,-459Z"
                    },
                    {
                        "name": "Ntcheu",
                        "path": "M237,-250L236,-260L238,-264L236,-269L240,-274L241,-278L237,-284L236,-289L236,-298L236,-302L232,-310L231,-315L233,-322L233,-327L231,-331L221,-341L216,-352L219,-354L225,-353L232,-349L235,-349L242,-352L252,-359L262,-366L263,-352L264,-343L268,-333L282,-313L292,-307L291,-305L292,-298L289,-290L283,-281L282,-277L273,-235L270,-234L269,-241L264,-245L255,-247L252,-246L245,-249Z"
                    },
                    {
                        "name": "Ntchisi",
                        "path": "M183,-469L178,-467L175,-467L168,-470L163,-469L156,-471L152,-471L145,-469L138,-469L137,-471L136,-480L133,-487L130,-493L121,-499L120,-504L131,-507L136,-512L140,-518L146,-522L149,-527L159,-531L159,-525L162,-518L162,-515L166,-512L168,-513L171,-519L176,-520L176,-515L177,-513L181,-513L183,-504L182,-498L184,-488L185,-471Z"
                    },
                    {
                        "name": "Salima",
                        "path": "M276,-462L276,-467L277,-467ZM204,-424L199,-424L193,-421L192,-422L193,-426L200,-430L200,-433L206,-437L207,-439L205,-441L204,-445L203,-447L197,-445L194,-445L184,-454L185,-459L183,-469L185,-471L189,-473L194,-473L199,-476L210,-482L216,-471L219,-466L224,-460L225,-459L232,-461L235,-460L238,-455L243,-449L245,-446L248,-443L246,-438L246,-432L243,-428L244,-425L242,-419L235,-411L235,-408L237,-395L230,-390L227,-393L223,-399L219,-407L209,-416Z"
                    },
                    {
                        "name": "Balaka",
                        "path": "M328,-307L331,-303L332,-298L332,-292L331,-281L330,-278L327,-276L323,-270L322,-264L319,-260L316,-249L314,-246L308,-240L304,-235L299,-234L273,-235L282,-277L283,-281L289,-290L292,-298L291,-305L292,-307L293,-307Z"
                    },
                    {
                        "name": "Chikwawa",
                        "path": "M277,-56L271,-59L268,-66L263,-71L258,-79L248,-84L245,-90L241,-93L238,-97L235,-105L232,-108L222,-109L220,-112L215,-123L215,-128L218,-136L217,-140L215,-142L205,-153L197,-158L196,-162L197,-171L198,-174L204,-179L210,-182L229,-174L234,-172L261,-171L275,-170L277,-165L274,-160L274,-156L273,-152L273,-150L277,-150L276,-146L278,-143L285,-132L302,-112L303,-104L299,-85L288,-73L286,-66L280,-62Z"
                    },
                    {
                        "name": "Thyolo",
                        "path": "M329,-119L326,-116L323,-111L323,-105L324,-100L321,-95L315,-97L310,-96L303,-104L302,-112L285,-132L278,-143L282,-144L286,-148L291,-155L297,-156L310,-164L317,-163L323,-157L325,-150L330,-146L332,-134L331,-130L328,-126L327,-121Z"
                    },
                    {
                        "name": "Chiradzulu",
                        "path": "M330,-146L325,-150L323,-157L317,-163L310,-164L307,-170L306,-175L307,-187L305,-197L310,-206L316,-208L317,-202L322,-199L324,-194L329,-189L335,-187L332,-180L332,-175L333,-154Z"
                    },
                    {
                        "name": "Nsanje",
                        "path": "M321,-95L320,-88L318,-84L307,-77L309,-71L312,-66L318,-64L325,-56L326,-45L329,-37L326,-34L326,-26L325,-23L329,-20L327,-16L328,-9L328,-4L326,-1L319,0L307,-1L300,-2L298,-4L299,-7L295,-13L296,-17L304,-23L306,-26L306,-35L305,-39L302,-41L295,-41L291,-42L288,-45L284,-49L280,-51L277,-56L280,-62L286,-66L288,-73L299,-85L303,-104L310,-96L315,-97Z"
                    },
                    {
                        "name": "Zomba",
                        "path": "M391,-247L397,-221L397,-215L383,-215L375,-212L370,-207L360,-201L358,-197L354,-194L350,-189L341,-188L335,-187L329,-189L324,-194L322,-199L317,-202L316,-208L310,-206L306,-208L310,-214L306,-214L299,-223L296,-225L294,-230L299,-234L304,-235L308,-240L314,-246L316,-243L318,-242L323,-245L330,-244L335,-248L339,-247L348,-244L351,-244L357,-246L359,-248Z"
                    },
                    {
                        "name": "Blantyre",
                        "path": "M310,-206L305,-197L307,-187L306,-175L307,-170L310,-164L297,-156L291,-155L286,-148L282,-144L278,-143L276,-146L277,-150L273,-150L273,-152L274,-156L274,-160L277,-165L275,-170L261,-171L260,-181L259,-185L263,-189L262,-197L264,-201L273,-205L274,-208L279,-222L281,-225L286,-228L294,-230L296,-225L299,-223L306,-214L310,-214L306,-208Z"
                    },
                    {
                        "name": "Mwanza",
                        "path": "M262,-197L263,-189L259,-185L260,-181L261,-171L234,-172L229,-174L210,-182L218,-193L219,-197L220,-202L234,-200Z"
                    },
                    {
                        "name": "Mulanje",
                        "path": "M391,-154L390,-151L391,-145L389,-140L388,-138L378,-132L372,-131L360,-128L357,-128L355,-124L351,-126L348,-129L343,-130L338,-128L329,-119L327,-121L328,-126L331,-130L332,-134L330,-146L333,-154L332,-175L332,-180L335,-187L341,-188L350,-189L354,-194L358,-197L359,-195L354,-187L356,-185L357,-173L358,-168L362,-165L367,-154L372,-158L375,-159L383,-153L389,-155Z"
                    },
                    {
                        "name": "Phalombe",
                        "path": "M358,-197L360,-201L370,-207L375,-212L383,-215L397,-215L392,-159L391,-154L389,-155L383,-153L375,-159L372,-158L367,-154L362,-165L358,-168L357,-173L356,-185L354,-187L359,-195Z"
                    },
                    {
                        "name": "Neno",
                        "path": "M273,-235L299,-234L294,-230L286,-228L281,-225L279,-222L274,-208L273,-205L264,-201L262,-197L234,-200L220,-202L219,-210L219,-214L222,-217L225,-221L227,-223L229,-229L236,-234L238,-238L239,-241L237,-250L245,-249L252,-246L255,-247L264,-245L269,-241L270,-234Z"
                    },
                    {
                        "name": "Chitipa",
                        "path": "M193,-845L188,-846L184,-845L181,-847L163,-862L134,-907L131,-912L123,-912L115,-917L112,-918L104,-924L104,-928L108,-929L118,-936L123,-942L128,-947L131,-948L132,-950L129,-961L129,-964L125,-970L129,-971L136,-974L143,-968L153,-963L159,-957L157,-951L158,-943L161,-935L164,-934L164,-929L166,-920L169,-911L180,-896L187,-889L193,-884L194,-880L200,-873L204,-863L201,-862L198,-859L199,-852L194,-848Z"
                    },
                    {
                        "name": "Chitipa",
                        "path": "M163,-862L132,-848L128,-847L127,-854L124,-854L122,-857L119,-863L114,-868L110,-876L110,-879L111,-887L110,-891L104,-898L100,-899L93,-905L83,-910L81,-912L82,-919L84,-925L89,-933L88,-937L85,-943L78,-947L75,-952L70,-956L69,-959L70,-963L67,-970L65,-972L58,-972L55,-973L54,-966L53,-964L50,-965L47,-970L42,-968L39,-972L41,-981L41,-985L38,-987L34,-986L33,-989L32,-997L37,-1000L41,-999L48,-992L56,-986L65,-983L68,-986L75,-985L79,-987L81,-986L90,-978L94,-971L98,-969L104,-969L108,-970L114,-973L125,-970L129,-964L129,-961L132,-950L131,-948L128,-947L123,-942L118,-936L108,-929L104,-928L104,-924L112,-918L115,-917L123,-912L131,-912L134,-907Z"
                    },
                    {
                        "name": "Kasungu",
                        "path": "M148,-571L146,-561L146,-557L148,-554L157,-554L162,-553L168,-544L169,-541L163,-537L159,-531L149,-527L146,-522L140,-518L136,-512L131,-507L120,-504L116,-498L113,-495L108,-490L101,-492L100,-491L102,-487L101,-483L96,-472L92,-470L91,-466L91,-464L90,-459L84,-453L79,-459L76,-461L68,-469L66,-473L62,-481L61,-490L60,-491L30,-489L32,-496L35,-501L38,-505L42,-506L42,-510L39,-515L38,-519L40,-533L44,-541L44,-545L43,-548L36,-554L35,-564L37,-570L42,-576L46,-584L49,-587L51,-588L53,-585L59,-588L63,-583L71,-588L75,-594L81,-595L84,-594L90,-596L96,-603L99,-605L101,-609L107,-615L115,-613L116,-610L113,-604L114,-595L116,-589L114,-585L115,-579L118,-579L125,-572L131,-571L139,-574L145,-570Z"
                    },
                    {
                        "name": "Mzimba",
                        "path": "M148,-571L145,-570L139,-574L131,-571L125,-572L118,-579L115,-579L114,-585L116,-589L114,-595L113,-604L116,-610L115,-613L107,-615L109,-620L100,-622L91,-619L87,-621L84,-625L80,-638L75,-643L74,-645L75,-654L80,-665L82,-676L80,-681L82,-692L81,-713L78,-717L72,-717L69,-719L72,-727L72,-738L73,-740L76,-737L77,-739L77,-744L81,-747L80,-749L89,-763L92,-770L88,-778L85,-780L81,-787L79,-795L88,-792L97,-791L98,-789L99,-785L98,-779L101,-778L105,-782L111,-789L114,-789L120,-785L128,-785L131,-781L136,-781L138,-784L138,-788L146,-790L158,-788L161,-789L162,-795L164,-796L172,-789L177,-782L175,-772L172,-762L172,-758L176,-756L179,-744L181,-741L183,-736L182,-733L176,-731L171,-732L168,-729L165,-723L161,-722L156,-723L152,-723L145,-717L142,-712L140,-705L140,-698L146,-690L147,-686L144,-677L145,-668L147,-664L143,-659L137,-657L133,-652L133,-650L138,-647L142,-644L149,-644L141,-637L139,-634L140,-628L142,-626L146,-626L150,-623L152,-619L155,-614L157,-606L161,-603L166,-603L170,-600L175,-599L179,-600L182,-599L179,-595L176,-590L171,-589L166,-586L158,-584L154,-581Z"
                    }
            ]
	}
],
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<span></span>',
                pointFormat: '{point.name}</b><br/>'
            },
            title: {
                text: ''
            }
    });
});
//]]>

function loadSites(){
    paths = $('path');
    for (i=0; i < paths.length; i++){
      class_list = paths[i].classList;
      if (class_list.length == 0) continue;
      coordinates = paths[i].getBBox();
      cx = parseInt(coordinates.x);
      cy = parseInt(coordinates.y);
      ch = parseInt(coordinates.height)/2
      paper = Raphael(cx, cy, 100, 100);//x, y, width, height
      circle = paper.circle(ch, ch, 5);
      circle.attr("fill", "#f00");
      circle.attr("stroke", "#fff");
    }
}
window.setTimeout("loadSites();", 300);
</script>


</head>
<body>
<script src="/javascripts/highmaps.js"></script>
<script src="/javascripts/raphael-min.js"></script>
<div id="container" style="position: absolute; width: 100%; ">
</div>
</body>


</html>


