<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
    <%=javascript_include_tag "Charts/Highcharts/jquery.min"%>
    <script type="text/javascript">

    function plotGraph() {
      results = document.getElementById('results').value;
      results = JSON.parse(results);

    $(function () {
        $('#container-chart').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                /*categories:  getDates(), */

            },
            yAxis: {

                title: {
                    text: 'Tins in stock'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }

            },
            tooltip: {
                shared: true,
                valueSuffix: ' Tins'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 2,
                    marker: {
                        lineWidth: 100,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                data: results
            }],
            exporting: { enabled: false },
            credits: { enabled: false }
        });
    });
    

  }

    </script>


  </head>
  <body>

    <%=javascript_include_tag "Charts/Highcharts/highcharts"%>
    <%=javascript_include_tag "Charts/Highcharts/exporting"%>

    <div id="container-chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <input type="hidden" id="results" />
  </body>
</html>
