<script type="text/javascript">

  function siteMenu()
  {
<%if params[:stock]%>
      var path = [
        "/report/stock_out_estimates?type=calculated",
        "/report/stock_out_estimates?type=verified_by_clinic",
        "/report/stock_out_estimates?type=verified_by_supervision"
      ];
      var icons = ['calculated.jpeg','clinic.png', 'supervisor.jpg'];
      var title = ['Calculated From Raw Data', 'Verified By Clinic', 'Verified By Supervision'];
<%else%>
      var path = [
        "/report/report_menu?type=drug report",
        "/report/report_menu?type=site report",
        "/report/report_menu?type=aggregate report",
        "/report/index?stock=true"
      ];
      var icons = ['pills3.png','Hospital-icon.png','aggregate.png', 'd_icon.jpeg'];
      var title = ['Drug Report', 'Site Report', 'Aggregate Report', "Stock Reports"];
<%end%>
  
    loadMenu(title,icons,path);

  }

  function loadMenu(fields, images,paths){
    document.getElementById("panel").innerHTML = "";

    for(var i = 0; i < fields.length; i++){

      var div = document.createElement("div");
      div.style.width = "200px";
      div.style.height = "160px";
      div.style.textAlign = "center";
      div.style.cssFloat = "left";
      div.style.padding = "5px";
      div.style.opacity = "1";
      div.style.cursor = "pointer";
      div.setAttribute("link", paths[i]);
      div.className = "menu_button blue";

      div.onclick = function(){
        window.location = this.getAttribute("link");
      }

      document.getElementById("panel").appendChild(div);

      var img = document.createElement("img");
      img.src = "/images/" + images[i];
      img.setAttribute("alt", fields[i]);
      img.height = "90";
      img.style.margin = "5px";

      div.appendChild(img);

      div.innerHTML += "<div style='padding: 5px; margin-top: 10px;'>" + fields[i] + "</div>";

    }
  }

  setTimeout("siteMenu()", 200);
</script>

<style type="text/css">

  td{
    text-align: center;
  }
</style>



<div id='panel' style="height: 80%; overflow:auto;">


</div>


