<style type="text/css">

    div.col1 {
        width: 30%;
        float: left;
        height: 85%;

    }
    div.col2outer {
        width: 69%;
        float: right;
        margin: 0;
        padding: 0;
        height: 85%;

    }
    div.col2 {
        width: 50%;
        float: right;
        height: 100%;

    }
    div.col3 {
        width: 49%;
        float: left;
        height: 100%;

    }
    div.headings{
       width: 350px;
       border: 5px solid #000000;
       border-radius: 15px;
       height: 50px;
       text-align: justify;
       margin-right: auto;
       margin-left: auto;
       font-size:28px;
       font-family: arial;
       overflow: auto;
       color: #FFFFFF;
    }
</style>

<div style="width: 100%; text-align: center;font-size: 30px;margin-top: 10px;font-family: arial;font-weight: bold;">
    Report Categories
  <hr>
</div>

<div class="col1">
  <div style="background:#83831F;text-align: center;" class="headings">General Reports</div>
  <br>
  <div style="height:75%;background:#83831F;" class="headings">
    Current ART Sites<br>

  </div>
</div>
<div class="col2outer">
  <div class="col3">
    <div style="background: #330000;text-align: center;" class="headings">Site Reports</div>
    <br>
    <div style="height:75%;background: #330000;" class="headings">
      Annual Reports<br>
      Quarterly Report <br>
      Monthly Report <br>
      Custom Report <br>
    </div>
  </div>
  <div class="col2">
    <div style="background: #0F3B5F;text-align: center;" class="headings">Aggregated Reports</div>
    <br>
    <div style="height:75%;background: #0F3B5F;" class="headings">
      Annual Reports<br>
      Quarterly Report <br>
      Monthly Report <br>
      Custom Report <br>
    </div>
  </div>
</div>