<!DOCTYPE HTML >
<html>
<head>
  <meta name="keywords" content="basic jquery validation form demo" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>

  <style>
  </style>

  <script type="text/javascript">
      $().ready(function(){
                  $("#register-form").validate({

                      rules: {
                          username: {required: true,
                              minlength: 5,
                              remote: {
                                  url: "/check_username",
                                  type: "post",
                                  data: {
                                      username: function() {
                                          return $( "#username" ).val();
                                      }
                                  }
                              }},
                          password: {required: true, minlength: 5},
                          confirm_password: {required: true,minlength: 5, equalTo: "#password"},
                          role: {required: true}
                      },
                      messages: {
                          username: {required: "Please provide username", minlength: "Username must have 5 or more characters", remote: "Username is already taken"},
                          password: {required: "Please provide password", minlength: "Password must have 5 or more characters"},
                          confirm_password: {required:"Please confirm password", equalTo: "Passwords do not match"},
                          role: {required:"Please provide user role"}
                      },
                      submitHandler: function(form) {
                          form.submit();
                      },
                      errorPlacement: function(error, element)
                      {
                          error.insertAfter(element);

                          // Use jQuery UI's position function to get placement correct
                          error.position ( {
                              my: 'right bottom',
                              at: 'right bottom',
                              of: element
                          } );
                      }
                  });
              }
      );

  </script>

</head>
<body>
<div class="panel" >
  <div class="panel-title">
    <span> Edit User Details</span>
  </div>
  <div class="panel-content">
    <form action="/user/save_edit" method="post" id="register-form" novalidate="novalidate">
      <table cellspacing="10px" cellpadding="10px">
        <tr>
          <td><label for="user_name" >Username</label></td>
          <td><input type="text" name="username" id='username' style="padding-left: 10px;" value='<%= @user.username %>' required/></td>
        </tr>
        <tr>
          <td><label for="password" >Password</label></td>
          <td><input name="password" type="password" id='password'  required/></td>
        </tr>
        <tr>
          <td > <label for="confirm_password" >Confirm Password</label> </td>
          <td> <input type="password" name="confirm_password" id='confirm_password'  required/> </td>
        </tr>
        <tr>
          <td><label for="user_role" >User Role</label></td>
          <td>
            <select name="user_role" id="user_role" >
              <option>Other</option>
              <option>Administrator</option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <input type="hidden" name="user_id"  value=<%=@user.id%> />
        <input type="submit" style="width: 30%;" class="btn btn-success" value="Save" />
      </div>
    </form>
  </div>

</div>

</body>
</html>


