<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>DMP</title>
  <script type="text/javascript">
     function setup()
     {
        <% if User.current.user_role.role.role != "Administrator" %>
            document.getElementById('items').deleteCell(3);
        <% end %>
     }
  </script>
  <%= javascript_include_tag 'jquery' %>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.ui.draggable.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.alerts.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/application.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link href="/stylesheets/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body  onload="setup()">
<div class="heading" >
  <table class="menu" cellspacing="0px">
    <tr>
      <td style="width: 60px;"><img src="/images/app.png" style="float: left;margin-top: 5px;margin-left: 5px;height:60px;"></td>
      <td style="text-align: left;vertical-align: text-top;">
        <span style="font-size: 35px;color: #C0C0C0;font-family:arial;">
            Pharmacy Monitoring Dashboard
          </span>
      </td>

      <td class="link" onmousedown="window.location='/'">Home</td>
      <td class="link" onmousedown="window.location= '/report/index'">Report</td>
      <%if User.current.user_role.role.role != 'Other' %>
        <td class="link" onmousedown="window.location='/administration/index'" >Administration</td>
       <% end %>
      <td class="link" onmousedown="window.location= '/user/logout'">Logout</td>
    </tr>
  </table>

</div>

<div class="content">
  <%= yield %>
</div>
<div class="footer">
    <% if !@lastdate.blank? %>
        <span style="color: silver;float: right;font-family: arial;font-size: 23px;margin-right: 10px;">
          Data valid as of <%= @lastdate.to_date.strftime("%d %B %Y") %>
        </span>
    <% end %>
</div>
</body>
</html>