<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>DMP</title>
  <script type="text/javascript">
     function setup()
     {
        <% if User.current.user_role.role.role != "Administrator" %>
            document.getElementById('items').deleteCell(3);
        <% end %>
     }
  </script>
  <%= javascript_include_tag 'jquery' %>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.ui.draggable.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.alerts.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/application.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link href="/stylesheets/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body style="width:1050px;" onload="setup()">
<div  id="header">
           <span style="font-size: 45px;color: #C0C0C0;font-family:arial;">
            Drug Monitoring Program
          </span>
  <img src="/images/rails.png" style="float: left;margin-top: 5px;margin-left: 5px;">
  <table class="menu" cellspacing="0px">
    <tr id="items">
      <td class="link" onmousedown="window.location='/'">Home</td>
      <td class="link" onmousedown="window.location= '/report/index'">Report</td>
      <td class="link" onmousedown="window.location='/publication/index'">Publications</td>
      <td class="link" onmousedown="window.location='/administration/index'" >Administration</td>
      <td class="link" onmousedown="window.location= '/user/logout'">Logout</td>
    </tr>
  </table>

</div>

<div id="content">
  <%= yield %>
</div>
<div id="footer">

</div>
</body>
</html>