<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DMP</title>
    <%= javascript_include_tag 'jquery' %>
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.ui.draggable.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.alerts.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo_table.css" />
    <script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/javascripts/jquery.dataTables.js"></script>
    <script src="/javascripts/highcharts.js"></script>
    <script src="/javascripts/exporting.js"></script>
    <script src="/javascripts/standalone-framework.src.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <link href="/stylesheets/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
      button.link{
        width: 100px;
        height: 60px;
        font-size: 24px;
        font-family: arial;
      }
      button.cat {
        width: 123px;
        height: 60px;
        font-family: arial;
        float: right;
        font-size: 22px;
        margin-right: 120px;
      }
      button{
        border-radius: 8px;
      }
      td.content_center{
         text-align: center;
      }
    </style>
  </head>

  <script>
    cat = 'pills';

    function catSwitch(){
      var label = cat
      cat = cat == 'pills' ? 'tins' : 'pills'
      document.getElementById("cat").innerHTML = "Show " + label;
    }

    function loadValues(){
      
      catSwitch();
      var arr = document.getElementsByClassName("drug_value");

      for (var i = 0; i < arr.length; i ++){
        try{
          if (cat == "pills")
            arr[i].innerHTML = Math.round(arr[i].getAttribute("pills")).toFixed(0).replace(/./g, function(c, i, a) {
              return i && c !== "." && !((a.length - i) % 3) ? ',' + c : c;
            });
          else if (cat == "tins"){
            arr[i].innerHTML = (Math.round((arr[i].innerHTML.replace(/,/g, "")) / 60)).toFixed(0).replace(/./g, function(c, i, a) {
              return i && c !== "." && !((a.length - i) % 3) ? ',' + c : c;
            });
          }
        }catch(e){}
      }
    }
  </script>
  <body>
    <div class="heading" >
      <table class="menu" cellspacing="0px">
        <tr>
          <td style="width: 60px;"><img src="/images/app.png" style="float: left;margin-top: 5px;margin-left: 5px;height:60px;"></td>

          <td style="text-align: center;vertical-align: text-top;">
            <span style="font-size: 150%;color: #C0C0C0;font-family:arial;">
              <%= @title  %>
            </span>
          </td>
          <td >

          </td>
          <td>
            <table cellspacing="2" celpadding="2" style="float: right; width: 20%;">
              <tr>
                <td>
                  <button  class="link cat" id="cat"  onclick="loadValues()">Show tins</button>
                </td>
                <td><button class="link" onmousedown="window.location= '/'">Return</button></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </div>

    <div style="overflow: auto;height: 83vh;">
      <%= yield %>
    </div>
    <div class="footer">
      <%= "Report Ranges From #{params["start_date"].to_date.strftime("%d %B %Y")} To #{params["end_date"].to_date.strftime("%d %B %Y")}" rescue "" %>
    </div>
  </body>
</html>
